/aclocal.m4
/autom4te.cache/
/autom4te.cache/output.0
/autom4te.cache/output.1
/autom4te.cache/requests
/autom4te.cache/traces.0
/autom4te.cache/traces.1
/config.log
/config.status
/configure
/depcomp
/examples/Makefile
/examples/Makefile.in
/install-sh
/Makefile
/Makefile.in
/man/de/Makefile
/man/de/Makefile.in
/man/fr/Makefile
/man/fr/Makefile.in
/man/Makefile
/man/Makefile.in
/missing
/qmidiarp-0.3.9.tar.bz2
/qmidiarp-0.3.9.tar.gz
/src/arpdata_moc.cpp
/src/arpdata_moc.o
/src/arpdata.o
/src/arpscreen_moc.cpp
/src/arpscreen_moc.o
/src/arpscreen.o
/src/arpwidget_moc.cpp
/src/arpwidget_moc.o
/src/arpwidget.o
/src/config.h
/src/config.h.in
/src/.deps/arpdata_moc.Po
/src/.deps/arpdata.Po
/src/.deps/arpscreen_moc.Po
/src/.deps/arpscreen.Po
/src/.deps/arpwidget_moc.Po
/src/.deps/arpwidget.Po
/src/.deps/groovewidget_moc.Po
/src/.deps/groovewidget.Po
/src/.deps/jacksync_moc.Po
/src/.deps/jacksync.Po
/src/.deps/lfoscreen_moc.Po
/src/.deps/lfoscreen.Po
/src/.deps/lfowidget_moc.Po
/src/.deps/lfowidget.Po
/src/.deps/logwidget_moc.Po
/src/.deps/logwidget.Po
/src/.deps/main.Po
/src/.deps/mainwindow_moc.Po
/src/.deps/mainwindow.Po
/src/.deps/midiarp_moc.Po
/src/.deps/midiarp.Po
/src/.deps/midicctable_moc.Po
/src/.deps/midicctable.Po
/src/.deps/midilfo_moc.Po
/src/.deps/midilfo.Po
/src/.deps/midiseq_moc.Po
/src/.deps/midiseq.Po
/src/.deps/passwidget_moc.Po
/src/.deps/passwidget.Po
/src/.deps/seqdriver_moc.Po
/src/.deps/seqdriver.Po
/src/.deps/seqscreen_moc.Po
/src/.deps/seqscreen.Po
/src/.deps/seqwidget_moc.Po
/src/.deps/seqwidget.Po
/src/.deps/slider_moc.Po
/src/.deps/slider.Po
/src/groovewidget_moc.cpp
/src/groovewidget_moc.o
/src/groovewidget.o
/src/jacksync_moc.cpp
/src/jacksync_moc.o
/src/jacksync.o
/src/lfoscreen_moc.cpp
/src/lfoscreen_moc.o
/src/lfoscreen.o
/src/lfowidget_moc.cpp
/src/lfowidget_moc.o
/src/lfowidget.o
/src/logwidget_moc.cpp
/src/logwidget_moc.o
/src/logwidget.o
/src/main.o
/src/mainwindow_moc.cpp
/src/mainwindow_moc.o
/src/mainwindow.o
/src/Makefile
/src/Makefile.in
/src/midiarp_moc.cpp
/src/midiarp_moc.o
/src/midiarp.o
/src/midicctable_moc.cpp
/src/midicctable_moc.o
/src/midicctable.o
/src/midilfo_moc.cpp
/src/midilfo_moc.o
/src/midilfo.o
/src/midiseq_moc.cpp
/src/midiseq_moc.o
/src/midiseq.o
/src/passwidget_moc.cpp
/src/passwidget_moc.o
/src/passwidget.o
/src/pixmaps/Makefile
/src/pixmaps/Makefile.in
/src/qmidiarp
/src/seqdriver_moc.cpp
/src/seqdriver_moc.o
/src/seqdriver.o
/src/seqscreen_moc.cpp
/src/seqscreen_moc.o
/src/seqscreen.o
/src/seqwidget_moc.cpp
/src/seqwidget_moc.o
/src/seqwidget.o
/src/slider_moc.cpp
/src/slider_moc.o
/src/slider.o
/src/stamp-h1
/src/translations/qmidiarp_de.qm
/src/translations/qmidiarp_fr.qm
/src/translations/qmidiarp_cs.qm
/src/translations/qmidiarp_es.qm
/doxygen-doc/html/
/doxygen-doc/html/*.html
/doxygen-doc/html/*.png
/doxygen-doc/html/*.md5
