*.o
*_moc.cpp
Makefile
Makefile.in
.deps
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/src/config.h
/src/config.h.in
/src/qmidiarp
/src/stamp-h1
*.qm
/doxygen-doc
/qmidiarp-*.tar.bz2
/qmidiarp-*.tar.gz
